body{
    background-color: darkgrey;
font-family: Georgia, 'Times New Roman', Times, serif;
    
    h2{
        color: white;
    }
    h3{
        color: white;
        text-align: center;
    }
    .zenz{
        color: black;
        text-align: left;
    }
    pre{
        text-align: center;
    }
    border: 653px solid;
    height: 1413px;
    #brr{
        height: 60px;
        width: 300px;
        text-align: center;
}
#cnn{
    height: 53px;
    width: 250px;
    text-align: center;
    flo;
}
}