body{
    background-color: darkgrey;
font-family: Georgia, 'Times New Roman', Times, serif;
    
    h2{
        color: white;
    }
    h3{
        color: white;
        text-align: center;
    }
    pre{
        text-align: center;
    }
}